---
layout: default
---
<div class="home">
  <h1 class="page-heading">posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in collections.post | reverse %}
      <li>
        <h2>
          <span class="home-post-meta">{{ post.date | readableDate }}</span>

          <a class="post-link" href="{{ post.url | url }}">{{ post.data.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
