---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:      16px;
$base-font-weight:    400;
$small-font-size:     $base-font-size * 0.875;
$base-line-height:    1.5;

$spacing-unit:        25px;

$text-color:          #111;
$background-color:    #fdfdfd;
$brand-color:         #3bb88a;
$brand-color-2:       #5affc3;
$brand-color-border:  lighten($brand-color, 20%);

$grey-color:          #828282;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);

// Width of the content area
$content-width:       800px;

$on-palm:             600px;
$on-laptop:           800px;

// Import partials from the `minima` theme.
@import "minima";

// NOTE(binji): local mods
$post-link-font-size: 24px;
$site-title-line-height: 56px;

.site-header {
  border-top: 2px solid $brand-color;
  background: linear-gradient(
    to right,
    $brand-color 0%,
    $brand-color 50%,
    $brand-color-2 50%,
    $brand-color-2 100%
  );
}

.header-wrapper {
  background: linear-gradient(
    to right,
    $brand-color 0%,
    $brand-color 20%,
    $brand-color-2 20%,
    $brand-color-2 100%
  );
}

.site-title {
  font-weight: $base-font-weight * 1.5;
  margin-left: -70px;
  line-height: $site-title-line-height;
}

.site-binji-img {
  float: left;
  line-height: $site-title-line-height;
  height: $site-title-line-height;
  margin-right: 6px;
}

@include media-query($on-palm) {
  // Pretty magical, it would be nice to figure out a better way to do this.
  .site-binji-img {
    margin-left: -130px;
  }

  .site-nav {
    background-color: $brand-color;
    border-color: $brand-color-border;
  }
}

.post-list > li {
  margin-left: 2em;
}

.post-link {
  font-size: $post-link-font-size;
}

.home-post-meta {
  float: right;
  line-height: $post-link-font-size * $base-line-height;
  @extend .post-meta;
}

.rss-subscribe {
  font-size: $small-font-size;
}

.footer-wrapper {
  text-align: center;
}

.footer {
  display: inline-block;
  list-style: none;
}

article table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid gray;
}

td {
  padding: 3px 10px;
}

// Used for displaying WebAssembly stack elements
.cell {
  border-radius: 6px;
  background-color: $brand-color-2;
  padding: 2px 6px;
  margin: 2px;
}

article video,
article img,
article iframe,
article table,
figure.highlight {
  margin: 20px 0;
}
